.glowRed{
    box-shadow: 0px 0px 55px 20px rgba(220, 14, 14, 0.4);
}
.glowYellow{
    box-shadow: 0px 0px 55px 20px rgba(220, 213, 14, 0.4);
}
.glowGreen{
    box-shadow: 0px 0px 55px 20px rgba(44, 189, 42, 0.4);
}
.light{
    height: 150px;
    border-radius: 50%;
}
.red {
    background: red;
    width: 175px;
}
.yellow{
    background: yellow;
    width: 175px;
}
.green{
    background: green;
    width: 175px;
}